@import play.twirl.api.HtmlFormat
@this(webJarsUtil: org.webjars.play.WebJarsUtil, assetsFinder: AssetsFinder)
@(title: String, head: Html = HtmlFormat.empty)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>@title</title>
        <link rel="Shortcut Icon" href='@assetsFinder.path("images/favicon.png")' >

            @webJarsUtil.locate("jquery.min.js").script()
            @webJarsUtil.locate("bootstrap.min.css").css()
            @webJarsUtil.locate("bootstrap.min.js").script()
            @head
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="@routes.Application.index()">Trade route optimizer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@routes.Application.tradePostPicker">Price updating<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-3">
            @content
        </div>
    </body>
</html>